<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.tangsi.dao.mapper.BlogMapper">
    <resultMap id="BaseResultMap" type="org.tangsi.entity.Blog">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="userId" property="userid" jdbcType="BIGINT"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, name, userId
    </sql>

    <select id="getListByUserId" resultType="org.tangsi.entity.Blog" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from t_blog
        where userId= #{userId,jdbcType=BIGINT}
    </select>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from t_blog
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from t_blog
        where id = #{id,jdbcType=BIGINT}
    </delete>
    <insert id="insert" parameterType="org.tangsi.entity.Blog" keyProperty="id" useGeneratedKeys="true">
        insert into t_blog (id, userId,name)
        values (#{id,jdbcType=BIGINT}, #{userid,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR})
    </insert>

</mapper>