<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.tangsi.order.dao.mapper.OrderMapper">
    <resultMap id="BaseResultMap" type="org.tangsi.order.entity.Order">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="createtime" property="createtime" jdbcType="BIGINT"/>
        <result column="userId" property="userid" jdbcType="BIGINT"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, createtime, userId, name
    </sql>

    <select id="getListByUserId" resultType="org.tangsi.order.entity.Order" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from t_order
        where userId= #{userId,jdbcType=BIGINT}
    </select>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from t_order
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from t_order
        where id = #{id,jdbcType=BIGINT}
    </delete>
    <insert id="insert" parameterType="org.tangsi.order.entity.Order" keyProperty="id" useGeneratedKeys="true">
        insert into t_order (id, createtime, userId,
        name)
        values (#{id,jdbcType=BIGINT}, #{createtime,jdbcType=BIGINT}, #{userid,jdbcType=BIGINT},
        #{name,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="org.tangsi.order.entity.Order">
        insert into t_order
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="createtime != null">
                createtime,
            </if>
            <if test="userid != null">
                userId,
            </if>
            <if test="name != null">
                name,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="createtime != null">
                #{createtime,jdbcType=BIGINT},
            </if>
            <if test="userid != null">
                #{userid,jdbcType=BIGINT},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="org.tangsi.order.entity.Order">
        update t_order
        <set>
            <if test="createtime != null">
                createtime = #{createtime,jdbcType=BIGINT},
            </if>
            <if test="userid != null">
                userId = #{userid,jdbcType=BIGINT},
            </if>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="org.tangsi.order.entity.Order">
        update t_order
        set createtime = #{createtime,jdbcType=BIGINT},
        userId = #{userid,jdbcType=BIGINT},
        name = #{name,jdbcType=VARCHAR}
        where id = #{id,jdbcType=BIGINT}
    </update>
</mapper>