<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.tangsi.video.dao.mapper.VideoCategoryMapper">
    <resultMap id="BaseResultMap" type="org.tangsi.video.entity.VideoCategory">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="pid" property="pid" jdbcType="BIGINT"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="iconCls" property="iconCls" jdbcType="VARCHAR"/>
    </resultMap>


    <sql id="Base_Column_List">
        id, pid, name, iconCls
    </sql>

    <select id="getAll" resultMap="BaseResultMap">
        select
          <include refid="Base_Column_List"/>
         from t_video_category
    </select>

    <insert id="save" parameterType="org.tangsi.video.entity.VideoCategory" useGeneratedKeys="true" keyProperty="id">
        insert into t_video_category(pid, name) values (#{category.pid},#{category.name})
    </insert>

</mapper>