.errorBackground {
    background-image:url('../images/commons/pacificocean.jpg');
    background-repeat: repeat;
}

.backDiv {
    width: 200px;
    height: 50px;
    margin: 0 auto;
}

.backButton {
    width:80px;
    height:40px;
    background-color: #cfc;
    padding-bottom:-500px;
}

body {
    margin: 0px;
    padding: 0px;
}

.videoCls {
    background: url('../images/commons/logo4.jpg')  no-repeat -305px -367px;
}

.musicCls {
    background: url('../images/commons/logo4.jpg')  no-repeat -176px -328px;
}

.icon_upload {
    background: url('../images/commons/upload.png')  no-repeat 0px 0px;
}

.mymenu-icon {
    background: url('../images/commons/logo2.jpg')  no-repeat -418px -180px;
}

.mymusic-icon {
    background: url('../images/commons/logo2.jpg')  no-repeat -142px -100px;
}

.myvideo-icon {
    background: url('../images/commons/logo2.jpg')  no-repeat -341px -259px;
}

.mysetting-icon {
    background: url('../images/commons/logo2.jpg')  no-repeat -142px -178px;
}

.mypicturescan-icon {
    background: url('../images/commons/logo2.jpg')  no-repeat -242px -178px;
}